In [4]:
import numpy as np
import string  
import re

from bs4 import BeautifulSoup
import json
import requests

In [35]:
#importing oscar best pictures
pictures_combined = pd.read_csv('data/pictures_combined.csv')

In [37]:
# Creating an empty dataframe for storing the scraped info
best_pictures = pd.DataFrame(columns= ['Name','imdb_name_id','imdb_title_id','Role', 'Sub_Role'])

# 1 SCRAPING CREW OF THE BEST PICTURES

In [42]:
def get_crew(imdb_title_id):

    url = 'https://www.imdb.com/title/'+imdb_title_id+ '/fullcredits'
    header = {'Accept-Language':'en-US;q=0.7, es-MX;q=0.3'}
    req = requests.get(url, headers=header).text
    soup = BeautifulSoup(req)
    credits_table = soup.findAll('div',attrs={'id':'fullcredits_content'})

    for i in credits_table:
        new_row=len(best_pictures)+1
        director_name = i.findAll('td', attrs = {'class':'name'})[0].text.replace('\n', '')
        director_id = i.find('a', href=True).get('href').split('/name/',1)[1][:-1]
       
        best_pictures.loc[new_row,['Name']] = director_name
        best_pictures.loc[new_row,['imdb_name_id']] = director_id
        best_pictures.loc[new_row,['imdb_title_id']] = imdb_title_id
        best_pictures.loc[new_row,['Role']] = 'Director'

        writers_table = i.findAll('table',attrs = {'class':'simpleCreditsTable'})[1].findAll('td',attrs={'class': 'name'})
        producers_table = i.findAll('table', attrs = {'class':'simpleCreditsTable'})[2].findAll('td', attrs = {'class':'name'})                           

        for i in writers_table:

            new_row = len(best_pictures)+1
            writer_name = i.text.replace('\n','')
            writer_id = i.find('a', href=True).get('href').split('/name/',1)[1][:-1]           
            writer_sub_role = i.find_next_siblings()[1].text.replace('\n', '')

            best_pictures.loc[new_row,['Name']] = writer_name
            best_pictures.loc[new_row,['imdb_name_id']] = writer_id
            best_pictures.loc[new_row,['imdb_title_id']] = imdb_title_id
            best_pictures.loc[new_row,['Role']] = 'Writer' 
            best_pictures.loc[new_row,['Sub_Role']] = writer_sub_role             

        for i in producers_table:
            new_row=len(best_pictures)+1
            producer_name = i.text.replace('\n', '')
            producer_id = i.find('a', href=True).get('href').split('/name/',1)[1][:-1]
            producer_sub_role = i.find_next_siblings()[1].text.replace('\n', '')

            best_pictures.loc[new_row,['Name']] = producer_name
            best_pictures.loc[new_row,['imdb_name_id']] = producer_id
            best_pictures.loc[new_row,['imdb_title_id']] = imdb_title_id
            best_pictures.loc[new_row,['Role']] = 'Producer'
            best_pictures.loc[new_row,['Sub_Role']] = producer_sub_role

In [46]:
for i, imdb_title_id in enumerate(pictures_combined['imdb_title_id']):
    imdb_title_id = pictures_combined.at[i, 'imdb_title_id']    
    url = "https://www.imdb.com/name/"+imdb_title_id+"/"
    req =requests.get(url).text
    soup=BeautifulSoup(req, 'lxml')
    print(i)
    try:
        get_crew(imdb_title_id)
    
    except:
        new_row=len(best_pictures)+1
        best_pictures.loc[new_row,['Name']] = 'EXCEPTION'
        best_pictures.loc[new_row,['imdb_name_id']] = 'EXCEPTION'
        best_pictures.loc[new_row,['imdb_title_id']] = imdb_title_id
        best_pictures.loc[new_row,['Role']] = 'EXCEPTION'
        best_pictures.loc[new_row,['Sub_Role']] = 'EXCEPTION'     
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562

In [51]:
best_pictures.loc[best_pictures.imdb_title_id=='tt3281548']

,Name,imdb_name_id,imdb_title_id,Role,Sub_Role
4928,Greta Gerwig,nm1950086,tt3281548,Director,NaN
4929,Greta Gerwig,nm1950086,tt3281548,Writer,(written for the screen by)
4930,Louisa May Alcott,nm0017301,tt3281548,Writer,(based on the novel by)
4931,Denise Di Novi,nm0224145,tt3281548,Producer,producer (produced by)
4932,Adam Merims,nm0580779,tt3281548,Producer,executive producer
4933,Arnon Milchan,nm0586969,tt3281548,Producer,executive producer
4934,Rachel O'Connor,nm1471418,tt3281548,Producer,executive producer
4935,Evelyn O'Neill,nm0642161,tt3281548,Producer,executive producer
4936,Amy Pascal,nm1166871,tt3281548,Producer,producer (produced by) (p.g.a.) ...
4937,Robin Swicord,nm0842523,tt3281548,Producer,producer (produced by)

In [52]:
#best_pictures.to_csv('data/best_pictures_WDP.csv', index=False)

In [59]:
#checking which entries were skipped
best_pictures.loc[best_pictures.Name == 'EXCEPTION']

           Name imdb_name_id imdb_title_id       Role   Sub_Role
118   EXCEPTION    EXCEPTION     tt0020018  EXCEPTION  EXCEPTION
242   EXCEPTION    EXCEPTION     tt0023303  EXCEPTION  EXCEPTION
461   EXCEPTION    EXCEPTION     tt0026725  EXCEPTION  EXCEPTION
486   EXCEPTION    EXCEPTION     tt0026752  EXCEPTION  EXCEPTION
969   EXCEPTION    EXCEPTION     tt0035189  EXCEPTION  EXCEPTION
1959  EXCEPTION    EXCEPTION     tt0069467  EXCEPTION  EXCEPTION

In [102]:
best_pictures1 =best_pictures.drop_duplicates()

In [103]:
best_pictures1.to_csv('data/best_pictures_WDP_withoutduplicates.csv', index=False)

# 2 ADDING DIRECTORS TO THE MAIN DATASET

In [ ]:
best_pictures1 = pd.read_csv('data/best_pictures_WDP_withoutduplicates.csv')
pictures_combined = pd.read_csv('data/pictures_combined.csv')

In [ ]:
directors = best_pictures1.loc[best_pictures1.Role=='Director']
directors['Name'] = directors['Name'].str.strip()

pictures_combined2=pd.merge(pictures_combined, directors, how='left',on='imdb_title_id')

pictures_combined2[pictures_combined2['first_director']!=pictures_combined2['Name']]
pictures_combined2 = pictures_combined2.rename(columns = {'Name':'Director','imdb_name_id':'director_id'})
pictures_combined2 = pictures_combined2.drop(columns=['Role'])
pictures_combined2 = pictures_combined2.drop(columns=['Sub_Role'])

pictures_combined2.to_csv('data/pictures_combined2.csv',index=False)